<h1>StaticPages#about</h1>
<p>Há Vida No Campo é uma marca que nasceu de um projecto pessoal e cheio de dedicação onde procuro unir os elementos e as tradições que aprendi a amar por ter crescido numa terra pequenina.

Nesta página poderá encontrar uma gama de produtos feitos totalmente ou parcialmente à mão, através de técnicas de modelagem e ilustração, entre outras. O mais importante é que cada uma das peças o deixe a pensar no cheirinho da terra molhada ou talvez na última vez que foi dar um pézinho de dança a um baile...

Obrigada pela visita! ♥</p>
