<h1>About us</h1>
<p>Há Vida No Campo é uma marca que nasceu de um projecto pessoal e cheio de dedicação onde procuro unir os elementos e as tradições que aprendi a amar por ter crescido numa terra pequenina.</p>
<br>

<p>Nesta página poderá encontrar uma gama de produtos feitos totalmente ou parcialmente à mão, através de técnicas de modelagem e ilustração, entre outras. O mais importante é que cada uma das peças o deixe a pensar no cheirinho da terra molhada ou talvez na última vez que foi dar um pézinho de dança a um baile...</p>
<br>

<p>Obrigada pela visita! ♥</p>
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<%= image_tag("cookiemonster.jpg", class: "img-responsive style-image") %>
		</div>
		<div class="col-md-4">
			<%= image_tag("bicycle.jpg", class: "img-responsive style-image") %>
		</div>
		<div class="col-md-4">
			<%= image_tag("uniformtininha.jpg", class: "img-responsive style-image") %>
		</div>			
	</div>
</div>
