.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: absolute;
    margin-top: 4px\9;
    margin-left: 0;
}

.carousel-inner > .item > img{
       width:80%;
       height:360px;
     }


.navbar-inverse {
    background-color: #222;
    border-color:white;
}

.product-page{
	margin: 0 auto;
}