// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  position: relative;
  min-height: 100%;
}

body {
  
  margin-bottom: 60px;
}

h1{
	color: #ff0080;
	text-align: center;
}

h3{
	text-align: center;
}

.content{
	margin:50px 5% 0;

}

.navbar{
	background-color:#ccf2ff;
	color:#ff0080;
}

.navbar-inverse .navbar-brand {
    color: #ff0080;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #9d9d9d;
    background-color: #080808;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ff0080;
}

.style-image{
	display: block;
    margin: 15px auto;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #ccf2ff;
}